/*
# Color Palette

Medium Turquoise: #4acbc3
Sky Blue: #91dfd9
Dark Slate Gray: #4d4d4d
Lavender: #ebedef
*/

html,
body {
  background-color: #ebedef;
  color: #4d4d4d;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding:0;
  height:100%;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: green; 
}

a:active {
  font-weight: bold;
}

/*
## Page
*/

.page {
  min-height: 100%;
  position: relative;
}

/*
## Page Title
*/

.page--title {
  background: #91dfd9;
  padding: 30px;
  padding-top: 74px; /* .page-header height + 30px */
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .page--title {
    padding-top: 120px; /* .page-header height + .page-menu height + 30px */
  }
}

/*
## Page Header
*/

.page--header {
  background: #4acbc3;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.page--header--title {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .page--header--title {
    text-align: center;
    font-size: 1.7rem;
  }
}

#page--header--burger {
  background: #ebedef;
  border: 0;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 5px 15px 0px 15px;
}

@media screen and (min-width: 768px) {
  #page--header--burger {
    display: none;
  }
}

/*
## Page Menu
*/

#page--menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 44px;
  left: 0;
}

@media screen and (min-width: 768px) {
  #page--menu {
    flex-direction: row;
    display: flex!important; /* Override mobile toggle display */
  }
}

.page--menu--item {
  background: #91dfd9;
  display: block;
  padding: 15px 0 15px 0;
  text-align: center;
  flex-grow: 1;
}

.page--menu--item:hover {
  background: #4acbc3;
}

/*
## Page Content
*/

.page--content {
  padding: 5px;
  padding-bottom: 52px; /* .page-footer height */
  max-width: 768px;
  margin: auto;
}

/*
## Page Footer
*/

.page--footer {
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 52px; /* .page-footer height */
  background: #4acbc3;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

/*
## Announcement
*/

.announcement {
  margin: 20px 10px;
}

.announcement--header {
  background: gainsboro;
  display: flex;
  padding: 5px;
}

.announcement--title {
  flex-grow: 1;
  font-size: 1.2rem;
  margin: 0;
  padding: 10px 0;
}

.announcement--content {
  background: floralwhite;
  padding: 10px;
}

.announcement--footer {
  background: gainsboro;
  padding: 5px;
}

.announcement--footer--item {
  padding: 5px;
  margin: 0;
}

/*
## Attachments
*/

.attachments {
  list-style: none;
  padding-left: 20px;
}

.attachments--item {
  margin: 15px 0;
}

.attachments--item:hover {
  background: #91dfd9;
  color: #4d4d4d;
}

/*
## Common
*/

.inline-icon {
  vertical-align: bottom;
}

/*
## 404 Page
*/

.status-404 {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}

.status-404--heading {
  margin: 30px 0;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
}

/*
## Lecture Layout
*/

.collection-list {
  text-align: center;
}

.collection-list--item {
  display: block;
  padding: 10px;
  margin: 10px 0;
}

.collection-list--item:hover {
  background: #91dfd9;
  color: #4d4d4d;
}
