{% if page.attachments.size > 0 %}
  <p>Attached Files:</p>

  <ul class="attachments">
    {% for attachment in page.attachments %}
      <li class="attachments--item">
        <a href="{{ attachment | uri_escape | relative_url }}" target="_blank">
          <img class="inline-icon"
            src="{{ '/img/ic_attachment_4d4d4d_18px.svg' | relative_url }}"
            alt="">
          {% assign attachment_name = attachment | split: '/' | last %}
          {{ attachment_name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
