<header class="page--header">
  <div class="page--header--title">
    {{ site.title }}
  </div>
  <button id="page--header--burger">
    <img src="{{ '/img/ic_menu_4d4d4d_24px.svg' | absolute_url }}"
      alt="Toggle Menu Visibility"/>
  </button>
</header>

<nav id="page--menu">
  <a class="page--menu--item" href="{{ '/index.html' | absolute_url }}">
    Announcements
  </a>
  <a class="page--menu--item" href="{{ '/assets/syllabus.pdf' | absolute_url }}"
    target="_blank">
    Syllabus
  </a>
  <a class="page--menu--item" href="{{ '/course-team.html' | absolute_url }}">
    Course Team
  </a>
  <a class="page--menu--item" href="{{ '/calendar.html' | absolute_url }}">
    Calendar
  </a>
  <a class="page--menu--item" href="{{ '/lectures.html' | absolute_url }}">
    Lectures
  </a>
  <a class="page--menu--item" href="{{ '/labs.html' | absolute_url }}">
    Labs
  </a>
  <a class="page--menu--item" href="{{ '/assignments.html' | absolute_url }}">
    Assignments
  </a>
  <a class="page--menu--item" href="{{ '/exams.html' | absolute_url }}">
    Exam
  </a>
  <a class="page--menu--item" href="https://piazza.com/class/jcpjjp5l4bywd"
    target="_blank" rel="noopener">
    Piazza
  </a>
  <a class="page--menu--item" href="https://markus.utsc.utoronto.ca/cscb20w18"
    target="_blank" rel="noopener">
    Markus
  </a>
</nav>
