<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
  </head>
  <body>
    {% include header.html %}
    
    <h1 class="page--title">
      {{ page.title }}
    </h1>
    
    <main class="page--content">
      {{ content }}
      
      <div class="collection-list">
        {% for list in site[page.collection] %}
          <a href="{{ list.url }}" class="collection-list--item">
            {{ list.title }}
          </a>
        {% endfor %}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
